.about {
    cursor: url(../assets/person-cursor.png), pointer;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 100px 0;

    p {
        letter-spacing: .3rem;
        line-height: 2rem;
        font-weight: bold;
    }

    .imgContainer {
        display: flex;
        justify-content: center;

        .outerCircle {
            height: 42vh;
            width: 42vh;
            background-color: $menuNavColor;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
        }

        .circle {
            height: 40vh;
            width: 40vh;
            background: linear-gradient(-90deg, #354f52, #52796f, #84a98c);
            z-index: 4;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 5px solid $backgroundColor;
        }

        img {
            height: 30vh;
            width: 30vh;
            margin-bottom: 50px;
            margin-right: 20px;
            z-index: 5;
        }
    }
}