body {
    font-family: $bodyFont;
    letter-spacing: .5rem;
}

h2 {
    margin: 0;
    font-family: $headingFont;
    color: $logoColor;
}

a {
    text-transform: uppercase;
    font-weight: bold;
}
