// Name Animation learned from tutorial on youtube - credit to https://www.youtube.com/c/DevEd/ 

.name-holder {
    position: relative;
    height: 100vh;
    background: linear-gradient(360deg, #d8f0fa, #f6ffc8, #1385b3);
    background-size: 400% 400%;
    animation: move 10s ease-in-out infinite 3s;

    svg {
        width: 500px;
        height: 500px;
    }

    h2 {
        display: flex;
        height: inherit;
        justify-content: center;
        align-items: center;
        padding-top: 130px;
        letter-spacing: .3rem;
        @include fontSize(35);
        animation-delay: 4s;
    }
}

#name-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 3.5s;
}

#name-logo path:nth-child(1) {
    stroke-dasharray: 720.52;
    stroke-dashoffset: 720.52;
    animation: line-anim 2s ease forwards;
}

#name-logo path:nth-child(2) {
    stroke-dasharray: 308.55;
    stroke-dashoffset: 308.55;
    animation: line-anim 2s ease forwards .3s;
}

#name-logo path:nth-child(3) {
    stroke-dasharray: 382.66;
    stroke-dashoffset: 382.66;
    animation: line-anim 2s ease forwards .6s;
}

#name-logo path:nth-child(4) {
    stroke-dasharray: 578.63;
    stroke-dashoffset: 578.63;
    animation: line-anim 2s ease forwards .9s;
}

#name-logo path:nth-child(5) {
    stroke-dasharray: 451.70;
    stroke-dashoffset: 451.70;
    animation: line-anim 2s ease forwards 1.2s;
}

#name-logo path:nth-child(6) {
    stroke-dasharray: 367.23;
    stroke-dashoffset: 367.23;
    animation: line-anim 2s ease forwards 1.5s;
}

#name-logo path:nth-child(7) {
    stroke-dasharray: 506.45;
    stroke-dashoffset: 506.45;
    animation: line-anim 2s ease forwards 1.8s;
}

#name-logo path:nth-child(8) {
    stroke-dasharray: 369.93;
    stroke-dashoffset: 369.93;
    animation: line-anim 2s ease forwards 2.1s;
}

#name-logo path:nth-child(9) {
    stroke-dasharray: 259.62;
    stroke-dashoffset: 259.62;
    animation: line-anim 2s ease forwards 2.4s;
}

@keyframes line-anim {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    0% {
        fill: transparent;
    }

    100% {
        fill: #0b2b6b;
    }
}

@keyframes move {

    0% {
        background-position: 51% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 51% 0%
    }
}