.container {
    width: 100%;
}

.carousel {
    height: auto;
    position: relative;
    overflow: hidden;
}

.slider {
    height: 100%;
    display: flex;
    width: 400%;
    transition: all 0.3s;
}

.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 70%;
        display: flex;
    }
}

.controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);

    i {
        @include fontSize(60);
        color: $logoColor;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

.controls ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

    li {
        width: 14px;
        height: 14px;
        border: 2px solid $logoColor;
        border-radius: 50px;
        margin: 10px;
        background-color: $logoColor;
        cursor: pointer;

        &.selected {
            background: transparent;
        }
    }
}
