.projects {
    cursor: url(../assets/sparkle-cursor.png), pointer;
}

.container {
    width: 100%;
    padding-bottom: 50px;
}

.carousel {
    height: auto;
    position: relative;
    overflow: hidden;
}

.slider {
    height: 100%;
    display: flex;
    width: 500%;
    transition: all 0.3s;
}

.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 100px 60px 100px;
    color: $menuNavColor;

    img {
        border-radius: 25px;
        height: 50%;
        width: 75%;
        box-shadow: 10px 10px 5px 5px $waveColor;
    }

    h3 {
        @include fontSize(30);
        padding-top: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        @include fontSize(25);
        text-align: left;
        letter-spacing: .2rem;
    }

    .repo,
    .live-site {
        text-decoration: none;
        padding: 10px 50px;
        color: $waveColor;
        @include fontSize(25);
        transition: .3s;

        &:hover,
        &:focus {
            color: $menuNavColor;
            letter-spacing: .3rem;
        }
    }

    .juno {
        padding: 0;
        text-transform: none;
        text-decoration: none;
        color: #2E2E2E;
        transition: .3s;

        &:hover,
        &:focus {
            color: $waveColor;
        }
    }

}

.project-cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 70%;
        display: flex;
    }
}

.controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);

    i {
        @include fontSize(60);
        color: $waveColor;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

.controls ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

    li {
        width: 14px;
        height: 14px;
        border: 2px solid $waveColor;
        border-radius: 50px;
        margin: 10px;
        background-color: $waveColor;
        cursor: pointer;

        &.selected {
            background: transparent;
        }
    }
}
