.skills {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 10;

        li {
            text-align: center;
            width: calc(100% / 4);

            &:hover {
                i {
                    color: $backgroundColor;
                    transform: scale(1.5);
                }
            }
        }
    }

    i {
        @include fontSize(70);
        line-height: 6rem;
        transition: .5s;
    }

    p {
        @include fontSize(30);
    }

    i,
    p {
        color: $logoColor;
    }
}