.skills {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 10;

        li {
            text-align: center;
            width: calc(100% / 4);
            cursor: url(../assets/spaceman-cursor.png), pointer;

            &:hover {
                i,
                p {
                    color: $backgroundColor;
                }

                i {
                    transform: scale(1.5);
                }

                p {
                    letter-spacing: .2rem;
                }
            }
        }
    }

    i {
        @include fontSize(70);
        line-height: 6rem;
    }

    p {
        @include fontSize(30);
    }

    i,
    p {
        color: $logoColor;
        transition: .5s;
    }
}