@font-face {
    font-family: "Revonza";
    src: url(../fonts/revonza-regular.ttf); font-weight: normal;
}

@font-face {
    font-family: "Adventuro";
    src: url(../fonts/adventuro-regular.ttf); font-weight: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(../fonts/comfortaa-light.ttf), url(../fonts/comfortaa-regular.ttf), url(../fonts/comfortaa-bold.ttf); font-weight: normal;
}