// site fonts

// $bodyFont: "Revonza";
$headingFont: "Adventuro";
$bodyFont: "Comfortaa";

// site colors

$logoColor: #cad2c5;
$backgroundColor: #f6ffc8;
$waveColor: #84a98c;
$menuNavColor: #2f3e46;
$overlayColor: rgba(255, 255, 255, 0.43);