.waveContainer {
    background: linear-gradient(-90deg, #354f52, #52796f, #84a98c);
    animation: move 14s ease infinite 4s;
    position: relative;
    padding-bottom: 100px;
    background-size: 400% 400%;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        background-image: url(../assets/wave.svg);
        height: 150px;
        width: 300%;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        display: inline-block;
        animation: wave 10s ease-in-out infinite;
    }
}

@keyframes move {

    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes wave {

    0% {
        width: 200%;
    }

    50% {
        width: 300%;
    }

    100% {
        width: 200%;
    }
}