html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  background-color: rgba(255, 255, 255, 0.43);
  color: #cad2c5;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Revonza";
  src: url(../fonts/revonza-regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Adventuro";
  src: url(../fonts/adventuro-regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url(../fonts/comfortaa-light.ttf), url(../fonts/comfortaa-regular.ttf), url(../fonts/comfortaa-bold.ttf);
  font-weight: normal;
}
body {
  font-family: "Comfortaa";
  letter-spacing: 0.5rem;
}

main {
  background-color: #f6ffc8;
}

h1,
h2 {
  margin: 0;
  font-family: "Adventuro";
  color: #f6ffc8;
}

h2 {
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 80px;
  font-size: 60px;
  font-size: 3rem;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-transform: uppercase;
  font-weight: bold;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.strike-through {
  text-decoration: line-through;
}

.italic,
.highlight {
  font-style: italic;
}

.highlight {
  color: #2f3e46;
  border-bottom: 2px solid #2f3e46;
}

.emoji {
  font-size: 30px;
  font-size: 1.5rem;
}

footer {
  text-align: center;
  background-color: #f6ffc8;
  padding: 10px 20px;
}
footer p {
  margin: 0;
}

.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}
.menu-wrap .toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2.2px;
  background-color: #2f3e46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:before, .menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2.2px;
  background: inherit;
}
.menu-wrap .hamburger > div:after {
  top: 10px;
}
.menu-wrap .toggle:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: #2f3e46;
}
.menu-wrap .toggle:checked + .hamburger > div:before, .menu-wrap .toggle:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #2f3e46;
}
.menu-wrap .toggle:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.menu-wrap .toggle:focus + .hamburger {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.menu-wrap .toggle:checked ~ .mobile-menu {
  visibility: visible;
}
.menu-wrap .toggle:checked ~ .mobile-menu > div {
  top: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.menu-wrap .toggle:checked ~ .mobile-menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.menu-wrap .mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-wrap .mobile-menu > div {
  background: rgba(255, 255, 255, 0.43);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -700px;
  -webkit-backdrop-filter: blur(10.6px);
          backdrop-filter: blur(10.6px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.menu-wrap .mobile-menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.menu-wrap .mobile-menu > div > div > ul > li {
  list-style: none;
  color: #2f3e46;
  font-size: 50px;
  font-size: 2.5rem;
  padding: 1rem;
}
.menu-wrap .mobile-menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  padding: 10px;
}
.menu-wrap .mobile-menu > div > div > ul > li > a:hover, .menu-wrap .mobile-menu > div > div > ul > li > a:focus {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 15px;
}

.name-holder {
  position: relative;
  height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(#354f52), color-stop(#52796f), to(#84a98c));
  background: linear-gradient(-90deg, #354f52, #52796f, #84a98c);
  background-size: 400% 400%;
  -webkit-animation: move 14s ease infinite 4s;
          animation: move 14s ease infinite 4s;
}
.name-holder svg {
  width: 500px;
  height: 500px;
}
.name-holder h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 130px;
  letter-spacing: 0.3rem;
  font-size: 35px;
  font-size: 1.75rem;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#name-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 0.5s ease forwards 3.5s;
          animation: fill 0.5s ease forwards 3.5s;
}

#name-logo path:nth-child(1) {
  stroke-dasharray: 720.52;
  stroke-dashoffset: 720.52;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#name-logo path:nth-child(2) {
  stroke-dasharray: 308.55;
  stroke-dashoffset: 308.55;
  -webkit-animation: line-anim 2s ease forwards 0.3s;
          animation: line-anim 2s ease forwards 0.3s;
}

#name-logo path:nth-child(3) {
  stroke-dasharray: 382.66;
  stroke-dashoffset: 382.66;
  -webkit-animation: line-anim 2s ease forwards 0.6s;
          animation: line-anim 2s ease forwards 0.6s;
}

#name-logo path:nth-child(4) {
  stroke-dasharray: 578.63;
  stroke-dashoffset: 578.63;
  -webkit-animation: line-anim 2s ease forwards 0.9s;
          animation: line-anim 2s ease forwards 0.9s;
}

#name-logo path:nth-child(5) {
  stroke-dasharray: 451.7;
  stroke-dashoffset: 451.7;
  -webkit-animation: line-anim 2s ease forwards 1.2s;
          animation: line-anim 2s ease forwards 1.2s;
}

#name-logo path:nth-child(6) {
  stroke-dasharray: 367.23;
  stroke-dashoffset: 367.23;
  -webkit-animation: line-anim 2s ease forwards 1.5s;
          animation: line-anim 2s ease forwards 1.5s;
}

#name-logo path:nth-child(7) {
  stroke-dasharray: 506.45;
  stroke-dashoffset: 506.45;
  -webkit-animation: line-anim 2s ease forwards 1.8s;
          animation: line-anim 2s ease forwards 1.8s;
}

#name-logo path:nth-child(8) {
  stroke-dasharray: 369.93;
  stroke-dashoffset: 369.93;
  -webkit-animation: line-anim 2s ease forwards 2.1s;
          animation: line-anim 2s ease forwards 2.1s;
}

#name-logo path:nth-child(9) {
  stroke-dasharray: 259.62;
  stroke-dashoffset: 259.62;
  -webkit-animation: line-anim 2s ease forwards 2.4s;
          animation: line-anim 2s ease forwards 2.4s;
}

@-webkit-keyframes line-anim {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: #f6ffc8;
  }
}
@keyframes fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: #f6ffc8;
  }
}
@-webkit-keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.skills {
  padding-bottom: 100px;
}
.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}
.skills ul li {
  text-align: center;
  width: 25%;
  cursor: url(../assets/spaceman-cursor.png), pointer;
  padding-top: 50px;
}
.skills ul li:hover i,
.skills ul li:hover p {
  color: #2f3e46;
}
.skills ul li:hover i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.skills ul li:hover p {
  letter-spacing: 0.2rem;
}
.skills i {
  font-size: 70px;
  font-size: 3.5rem;
  line-height: 6rem;
}
.skills p {
  font-size: 30px;
  font-size: 1.5rem;
}
.skills i,
.skills p {
  color: #84a98c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.waveContainer {
  background: -webkit-gradient(linear, right top, left top, from(#354f52), color-stop(#52796f), to(#84a98c));
  background: linear-gradient(-90deg, #354f52, #52796f, #84a98c);
  -webkit-animation: move 14s ease infinite 4s;
          animation: move 14s ease infinite 4s;
  position: relative;
  padding-bottom: 100px;
  background-size: 400% 400%;
  overflow: hidden;
}
.waveContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url(../assets/wave.svg);
  height: 150px;
  width: 200%;
  background-size: 100% 150px;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-animation: wave 10s ease-in-out infinite;
          animation: wave 10s ease-in-out infinite;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes wave {
  0% {
    width: 100%;
  }
  50% {
    width: 200%;
  }
  100% {
    width: 100%;
  }
}
@keyframes wave {
  0% {
    width: 100%;
  }
  50% {
    width: 200%;
  }
  100% {
    width: 100%;
  }
}
.projects {
  cursor: url(../assets/sparkle-cursor.png), pointer;
}

.container {
  width: 100%;
  padding-bottom: 50px;
}

.carousel {
  height: auto;
  position: relative;
  overflow: hidden;
}

.slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 90px 100px 60px 100px;
  color: #2f3e46;
}
.slider section img {
  border-radius: 25px;
  height: 50%;
  width: 75%;
  -webkit-box-shadow: 10px 10px 5px 5px #84a98c;
          box-shadow: 10px 10px 5px 5px #84a98c;
}
.slider section h3 {
  font-size: 30px;
  font-size: 1.5rem;
  padding-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.slider section p {
  font-size: 25px;
  font-size: 1.25rem;
  text-align: left;
  letter-spacing: 0.2rem;
}
.slider section .repo,
.slider section .live-site {
  text-decoration: none;
  padding: 10px 50px;
  color: #84a98c;
  font-size: 25px;
  font-size: 1.25rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slider section .repo:hover, .slider section .repo:focus,
.slider section .live-site:hover,
.slider section .live-site:focus {
  color: #2f3e46;
  letter-spacing: 0.3rem;
}
.slider section .juno {
  padding: 0;
  text-transform: none;
  text-decoration: none;
  color: #2E2E2E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slider section .juno:hover, .slider section .juno:focus {
  color: #84a98c;
}

.project-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project-cards img {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.controls .arrow i {
  font-size: 60px;
  font-size: 3rem;
  color: #84a98c;
}
.controls .arrow.left {
  left: 0;
}
.controls .arrow.right {
  right: 0;
}

.controls ul {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.controls ul li {
  width: 14px;
  height: 14px;
  border: 2px solid #84a98c;
  border-radius: 50px;
  margin: 10px;
  background-color: #84a98c;
  cursor: pointer;
}
.controls ul li.selected {
  background: transparent;
}

.about {
  cursor: url(../assets/person-cursor.png), pointer;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 100px 0;
}
.aboutContainer p {
  letter-spacing: 0.3rem;
  line-height: 2rem;
  font-weight: bold;
}
.aboutContainer .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutContainer .imgContainer .outerCircle {
  height: 42vh;
  width: 42vh;
  background-color: #2f3e46;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.aboutContainer .imgContainer .circle {
  height: 40vh;
  width: 40vh;
  background: -webkit-gradient(linear, right top, left top, from(#354f52), color-stop(#52796f), to(#84a98c));
  background: linear-gradient(-90deg, #354f52, #52796f, #84a98c);
  z-index: 4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #f6ffc8;
}
.aboutContainer .imgContainer img {
  height: 30vh;
  width: 30vh;
  margin-bottom: 50px;
  margin-right: 20px;
  z-index: 5;
}

.contact {
  cursor: url(../assets/phone-cursor.png), pointer;
}
.contact h3 {
  padding-top: 50px;
  font-family: "Adventuro";
}
.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
}
.contact input,
.contact textarea,
.contact fieldset,
.contact button {
  border: none;
  padding: 20px 20px;
  margin: 20px 0;
  border-radius: 25px;
}
.contact button {
  cursor: not-allowed;
  background-color: #84a98c;
  color: #f6ffc8;
  font-family: "Comfortaa";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact button:disabled:hover, .contact button:disabled:focus {
  opacity: 0.5;
}
.contact button:enabled:hover, .contact button:enabled:focus {
  background-color: #2f3e46;
  cursor: url(../assets/party-cursor.png), pointer;
}
.contact input,
.contact textarea {
  border: 1px solid #2f3e46;
  outline: none;
  background: #84a98c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #f6ffc8;
}
.contact input:focus, .contact input:focus,
.contact textarea:focus,
.contact textarea:focus {
  border-color: #84a98c;
  -webkit-box-shadow: 0 0 5px #84a98c;
          box-shadow: 0 0 5px #84a98c;
  background-color: #2f3e46;
}
.contact textarea {
  resize: none;
}
.contact input::-webkit-input-placeholder {
  font-family: "Comfortaa";
  color: #f6ffc8;
  opacity: 1;
}
.contact input::-moz-placeholder {
  font-family: "Comfortaa";
  color: #f6ffc8;
  opacity: 1;
}
.contact input:-ms-input-placeholder {
  font-family: "Comfortaa";
  color: #f6ffc8;
  opacity: 1;
}
.contact input::-ms-input-placeholder {
  font-family: "Comfortaa";
  color: #f6ffc8;
  opacity: 1;
}
.contact input::placeholder,
.contact textarea {
  font-family: "Comfortaa";
  color: #f6ffc8;
  opacity: 1;
}
.contact fieldset {
  text-align: center;
  color: #2f3e46;
}
.contact fieldset label a {
  text-decoration: none;
  color: #2f3e46;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.1rem;
}
.contact fieldset label a:hover, .contact fieldset label a:focus {
  letter-spacing: 0.2rem;
  color: #84a98c;
}
.contact fieldset input[type=checkbox] {
  scale: 1.5;
  margin-right: 20px;
  cursor: pointer;
}
.contact fieldset input[type=checkbox]:checked {
  accent-color: #84a98c;
}
.contact .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 50px;
}
.contact .social-icons a {
  font-size: 50px;
  font-size: 2.5rem;
  padding: 40px 40px;
}
.contact .social-icons a:hover i, .contact .social-icons a:focus i {
  color: #2f3e46;
  scale: 1.5;
}
.contact .social-icons i {
  color: #84a98c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer p {
  letter-spacing: 0.1rem;
}
footer a {
  text-decoration: none;
  color: #2f3e46;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 15px 5px 0 5px;
  text-transform: capitalize;
}
footer a:hover, footer a:focus {
  color: #84a98c;
  letter-spacing: 0.2rem;
}

.termsContainer {
  position: relative;
  height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(#354f52), color-stop(#52796f), to(#84a98c));
  background: linear-gradient(-90deg, #354f52, #52796f, #84a98c);
  background-size: 400% 400%;
  -webkit-animation: move 14s ease infinite 4s;
          animation: move 14s ease infinite 4s;
}
.termsContainer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.termsContainer h1 {
  margin-top: 200px;
  margin-bottom: 50px;
}
.termsContainer p {
  background-color: rgba(63, 63, 63, 0.3);
  padding: 40px 20px;
  color: #f6ffc8;
  letter-spacing: 0.3rem;
  line-height: 3rem;
  font-weight: bold;
}
.termsContainer a {
  text-decoration: none;
  color: #84a98c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 15px 5px 0 5px;
  text-transform: capitalize;
}
.termsContainer a:hover, .termsContainer a:focus {
  color: #f6ffc8;
  letter-spacing: 0.2rem;
}